.DS_Store
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.idea
.packages
build
android
ios
macos
commands.sh
contacts.json
firebase/functions/package-lock.json
firebase/polocator-9072dfb45a35.json
firebase/public/404.html
firebase/public/index.html
node_modules/.package-lock.json
package-lock.json
polocator.code-workspace
pubspec.lock
web/config-private.js
node_modules/
firebase/.runtimeconfig.json
